* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: url(../img/bg.png);
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#benjamin-bluemchen {
  background: url(../img/krabs.png) no-repeat bottom right;
  background-size: 85%;
  width: 153px;
  height: 261px;
  position: absolute;
  right: -20px;
  bottom: -10px;
}

#card1, #card2 {
  background: #ffffff;
  width: 95%;
  height: 30%;
  display: block;
  margin: 10% auto;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}
